<div class="promotion-list">
  <table>
    <thead>
      <th>ID</th>
      <th>Code Promo</th>
      <th>Name</th>
      <th>Active</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let promotion of promotions">
        <td>{{ promotion.promoCodeId }}</td>
        <td>{{ promotion.promotionCode }}</td>
        <td>{{ promotion.name }}</td>
        <td>{{ promotion.enable }}</td>
        <td>
          <button type="button" (click)="edit(promotion.promoCodeId)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

  <a routerLink="/promotionAdd">Create</a>
</div>
