<div class="promotion-add">
    <form [formGroup]="promotionForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label>Promotion Code ID</label>
            <input type="text" formControlName="promoCodeId" />
        </div>

        <div class="form-group">
            <label>Code Promotion</label>
            <input type="text" formControlName="promotionCode" />
        </div>
    
        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" />
        </div>
    
        <div class="form-group">
            <label>Enable</label>
            <input type="checkbox" formControlName="enable" />
        </div>
    
        <div class="form-group">
            <mat-form-field>
                <input 
                    matInput 
                    formControlName="startValidityDate" 
                    [matDatepicker]="dpStart" 
                    readonly="readonly"
                    placeholder="StartValidityDate" />
                <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
                <mat-datepicker #dpStart disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
    
        <div class="form-group">
                <mat-form-field>
                    <input 
                        matInput 
                        formControlName="endValidityDate" 
                        [matDatepicker]="dpEnd" 
                        readonly="readonly"
                        placeholder="End Validity Date" />
                    <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
                    <mat-datepicker #dpEnd disabled="false"></mat-datepicker>
                </mat-form-field>
        </div>
    
        <div class="threashold-block">
            <div formArrayName="thresholds">
                <div class="form-group" *ngFor="let thresholdControl of getThreshold().controls; let i = index">
                    <div [formGroup]="thresholdControl">

                        <button type="button" (click)="deleteThreshold(i)">Delete</button>

                        <div class="form-group">
                            <mat-form-field>
                                <input matInput type="text" class="form-control" formControlName="minAmount" placeholder="Min Amount" />
                                <mat-error *ngIf="getMinAmountFromControl(i).invalid && getMinAmountFromControl(i).errors.required">The min amount is required</mat-error>
                                <mat-error *ngIf="getMinAmountFromControl(i).invalid && getMinAmountFromControl(i).errors.pattern">The min amount must be an integer</mat-error>
                                <mat-error *ngIf="getMinAmountFromControl(i).invalid && getMinAmountFromControl(i).errors.minMustLessThanMax">The min amount must less than max amount</mat-error>
                            </mat-form-field>
                        </div>
                    
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput type="text" class="form-control" formControlName="maxAmount" placeholder="Max Amount" />
                                <mat-error *ngIf="getMaxAmountFromControl(i).invalid && getMaxAmountFromControl(i).errors.required">The max amount is required</mat-error>
                                <mat-error *ngIf="getMaxAmountFromControl(i).invalid && getMaxAmountFromControl(i).errors.pattern">The max amount must be an integer</mat-error>
                                <mat-error *ngIf="getMaxAmountFromControl(i).invalid && getMaxAmountFromControl(i).errors.mustGreaterThan">The max amount must be greater than min amount</mat-error>
                            </mat-form-field>
                        </div>
                    
                        <div class="form-group">
                            <label>Shipping Discount</label>
                            <input type="text" class="form-control" formControlName="shippingDiscountRate" />
                        </div>
                    
                        <div class="form-group">
                            <label>Service Discount</label>
                            <input type="text" class="form-control" formControlName="serviceDiscountRate" />
                        </div>

                        <div *ngIf="getThresholdFormGroup(i).invalid && getThresholdFormGroup(i).errors != null">
                            <div *ngIf="getThresholdFormGroup(i).errors.feesRequired">The shipping or service discount amount must be filled</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" (click)="addThreshold()">Add Threshold</button>

        <div *ngIf="promotionForm.invalid && promotionForm.errors != null">
            <div>There are errors</div>
            <div *ngIf="promotionForm.errors.atLeastOne">At least one threshold must be filled</div>
        </div>

        <button type="submit" [disabled]="promotionForm.invalid">Create</button>
    </form>
</div>
