<div class="campaign-edit">
  <h2>Edit of {{campaign.campaignId}} | {{campaign.name}}</h2>
  <div class="edit-block">
    <form [formGroup]="campaignForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label>Campaign ID</label>
        <input type="text" formControlName="campaignId" />
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="form-group">
        <label>Enable</label>
        <input type="checkbox" formControlName="enable" />
      </div>
      <div class="form-group">
        <label>Start Validity Date</label>
        <input type="text" formControlName="startValidityDate" />
      </div>
      <div class="form-group">
        <label>End Validity Date</label>
        <input type="text" formControlName="endValidityDate" />
      </div>
      <button type="submit" [disabled]="campaignForm.invalid">Update</button>
  </form>
  </div>
  <a routerLink="/">Return to list</a>
</div>

