<div>
  <h2>Authentification</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" formControlName="username" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" />
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
