<div class="campaign-add">
  <h2>Add Campaign</h2>
  <div class="form">
    <form [formGroup]="campaignForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
            <mat-form-field>
                <input 
                    matInput
                    type="text" 
                    formControlName="name"
                    placeholder="Name" />
                <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
            </mat-form-field>
      </div>
      <div class="form-group">
        <mat-slide-toggle
            class="example-margin"
            formControlName="enable"
            [checked]="checked">
            Activated    
        </mat-slide-toggle>
      </div>
      <div class="form-group">
        <mat-form-field>
            <input 
                matInput 
                formControlName="startValidityDate" 
                [matDatepicker]="dpStart" 
                readonly="readonly"
                placeholder="StartValidityDate" />
            <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
            <mat-datepicker #dpStart disabled="false"></mat-datepicker>
            <mat-error *ngIf="startValidityDate.invalid">{{getStartValidityDateErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
            <mat-form-field>
                <input 
                    matInput 
                    formControlName="endValidityDate" 
                    [matDatepicker]="dpEnd" 
                    readonly="readonly"
                    placeholder="End Validity Date" />
                <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
                <mat-datepicker #dpEnd disabled="false"></mat-datepicker>
                <mat-error *ngIf="endValidityDate.invalid">{{getEndValidityDateErrorMessage()}}</mat-error>
            </mat-form-field>
      </div>
      <button 
        mat-flat-button 
        color="primary"
        type="submit"
        [disabled]="campaignForm.invalid">
            Create
        </button>
    </form>
  </div>
</div>
