<div class="header-menu">
  <div routerLinkActive="active" class="header-item">
    <a routerLink="/">Campaigns</a>
  </div>
  <div routerLinkActive="active" class="header-item">
      <a routerLink="promotions">Promotions</a>
    </div>
  <div class="user">
    <div *ngIf="isAuth">
      <button type="button" (click)="logout()">Logout</button>
    </div>
    <div *ngIf="!isAuth">
        <button type="button" (click)="login()">Login</button>
    </div>
  </div>
</div>
