<div class="campaign-list">
    <h2>List of campaign</h2>

    <div class="action-header">
        <a routerLink="/campaignAdd" mat-button color="primary">Create</a>
    </div>

    <div *ngIf="loaded" class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="campaignDetail/ + element.campaignId"> 
                        {{element.name}}
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="StartValidityDate">
                <th mat-header-cell *matHeaderCellDef>Start Validity Date</th>
                <td mat-cell *matCellDef="let element">{{element.startValidityDate}}</td>
            </ng-container>

            <ng-container matColumnDef="EndValidityDate">
                <th mat-header-cell *matHeaderCellDef>End Validity Date</th>
                <td mat-cell *matCellDef="let element">{{element.endValidityDate}}</td>
            </ng-container>

            <ng-container matColumnDef="Enable">
                <th mat-header-cell *matHeaderCellDef>State</th>
                <td mat-cell *matCellDef="let element">{{element.enable}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</div>
