.campaign-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.action-header {
    margin-bottom: 15px;
    text-align: right;
}

table {
    width: 100%;
}

.table-container {
    position: relative;
    width: 100%;
}