<div class="campaign-detail">
    <div class="row">
        Name: {{ campaign.name }}
    </div>
    <div class="row">
        <mat-slide-toggle
            class="example-margin"
            [checked]="campaign.enable"
            [disabled]="true">
                Activated
        </mat-slide-toggle>
    </div>
    <div class="row">
        Start Validity Date: {{ campaign.startValidityDate }}
    </div>
    <div class="row">
        End Validity Date: {{ campaign.endValidityDate }}
    </div>
</div>
